* {
  box-sizing: border-box;
  font-family: "Jacquard 12", system-ui;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  overflow-y: hidden;
  height: 100%;
  background-image: url(/public/images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.menu,
.win-lose {
  top: 35%;
  border: white 2px solid;
  width: 40%;
  height: 20%;
  padding: 5px;
  font-size: 2.5rem;
  color: white;
  position: fixed;
  margin-left: 30%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header{
  text-align: center;
}

.start {
  width: 70%;
  height: 30%;
  background-color: white;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  transition: .3s all;
}

.start:hover {
  background-color: rgb(78, 78, 216);
  color: white;
}

.start:active{
  transform: scale(.95);
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tile {
  width: 16px;
  height: 16px;
  transform: scale(4);
  image-rendering: crisp-edges;
  background-image: url("/public/images/world-tileset.png");
}

.empty-tile {
  width: 16px;
  height: 16px;
  transform: scale(4);
  opacity: 0;
  background-image: url("/public/images/world-tileset.png");
}

.floor {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 12vh;
}

.fire {
  position: relative;
  bottom: 17px;
  right: -1px;
  width: 12px;
  height: 25px;
}

.player {
  z-index: 200;
  position: absolute;
  background-position: -41px 24px;
  width: 13px;
  height: 19px;
  image-rendering: crisp-edges;
  transform: scale(2.5);
  background-image: url("/public/images/knight.png");
}

.timer {
  position: fixed;
  top: 54px;
  right: 36px;
  font-size: 2.4rem;
  color: white;
}

.cold-bar {
  z-index: 100;
  position: fixed;
  display: none;
  flex-direction: column-reverse;
  right: 28px;
  top: 100px;
  border: 3px solid rgba(255, 255, 255, 0.796);
  height: 60%;
  width: 30px;
  background: transparent;
}

.cold-level {
  background-color: rgba(114, 175, 255, 0.81);
  height: 100%;
}