* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  height: 100%;
  background-image: url(/images/background.jpg);
  display: flex;
  flex-direction: column-reverse;
}

.blocks {
  display: flex;
}

.tile {
  width: 16px;
  height: 16px;
  image-rendering: crisp-edges;
  zoom: 400%;
  background-image: url("/images/world_tileset.png");
}

.empty-tile {
  width: 16px;
  height: 16px;
  zoom: 400%;
  background-image: url("/images/world_tileset.png");
}

.floor {
  height: 64px;
  display: flex;
  margin-bottom: 12vh;
}

.fire {
  position: relative;
  bottom: 17px;
  right: -1px;
  width: 12px;
  height: 25px;
}

.player {
  position: absolute;
  background-position: -41px 24px;
  width: 15px;
  height: 19px;
  image-rendering: crisp-edges;
  zoom: 400%;
  background-image: url("/images/knight.png");
}

.timer {
  position: fixed;
  top: 59px;
  right: 30px;
  font-size: 1.6rem;
  color: white;
}

.cold-bar {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  right: 28px;
  top: 100px;
  border: 3px solid rgba(255, 255, 255, 0.796);
  height: 60%;
  width: 30px;
  background: transparent;
}

.cold-level {
  background-color: rgba(114, 175, 255, 0.81);
  height: 100%;
}